div.menu {
  float: left;
  min-height: 100vh;
  padding-right: 5px;
}

div.menu nav.navbar button.navbar-toggler {
  min-height: 50px;
}

div.menu nav.navbar button.navbar-toggler:hover {
  background: grey;
}

div.menu button.contact-toggle {
  min-height: 50px;
}

div.menu ul.menu-button-list {
  padding: 0;

}

div.menu ul.menu-button-list  li.menu-item {
  background: #61A7BE;
  min-height: 50px;
  max-height: 60px;
  font-size: 1.75vw;
  min-width: 100%;
  margin: 1.25vh 0 0 0;
}

div.menu ul.menu-button-list  li.menu-item div.button-filter {
  background: #35768C;
  min-width: 88%;
  min-height: 60px;
  max-height: 100%;
  opacity: .3;
  position: absolute;
  transition: .3s linear;
  z-index: 1000;
}


div.menu ul.menu-button-list  li.menu-item:hover div.button-filter {
  background: linear-gradient(60deg, #e5E9f9 5%, #35768C 100% );

}

div.menu ul.menu-button-list  li.menu-item:hover div.button-filter {
  opacity: .5;
}

div.menu ul.menu-button-list  li.menu-item:hover a.menu-button {
  letter-spacing: 2.15px;
}

div.menu ul.menu-button-list  li.menu-item a.menu-button {
  background: transparent;
  border-bottom: 1px solid #000;
  box-shadow: 0.75px 1.25px 3.5px 0.2px #000;
  color: #fff;
  display: block;
  font-family: Segoe UI,sans-serif;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  max-height: 80px;
  min-height: fit-content;
  min-width: 100%;
  padding: 5px 0 .25em 10px;
  text-align: left;
  position: relative;
  transition: .2s linear;
  text-shadow: 1px 2px 3px #000;
  z-index: 1250;
}

div.menu ul.menu-button-list  li.menu-item a.menu-button:hover {
  color: white;
  font-size: 30px;
  padding: 5px 0 .25em 10px;
  text-decoration: none;
}

div.menu nav.navbar {
  float: left;
}

@media (max-width: 575px) {
  div.menu.modal-dialog {
    min-width: 80vw;
    max-width: 80vw;
    left: 10vw;
    background: transparent;
  }

  div.menu.modal-dialog div.modal-content {
    background: transparent;
  }

  div.menu.modal-dialog div.modal-body{
    min-width: 100%;
    max-width: 100%;
  }

  div.menu.modal-dialog div.modal-body div.menu {
    overflow: hidden;
    min-width: 100%;
    max-width: 100%;
    min-height: fit-content;
  }

  div.menu-toggle-container {
    max-width: fit-content;
    float: left;
  }

  div.menu-toggle-container button.menu-toggle {
    background: transparent;
    border: .5px solid rgb(0, 0, 0, .1);
  }

  div.menu-toggle-container button.menu-toggle img {
    max-width: 50px;
    float: left;
  }

  div.menu ul.menu-button-list li.menu-item {
    max-height: fit-content;
  }

  div.menu ul.menu-button-list li.menu-item div.button-filter {
    min-height: 50px;
    max-height: 50px;
    min-width: 99%;
  }

  div.menu ul.menu-button-list li.menu-item a.menu-button {
    text-align: center;
    min-height: 50px;
    max-height: 50px;
    font-size: 16px;
  }

  div.menu ul.menu-button-list li.menu-item a.menu-button:hover {
    font-size: 16px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  div.menu.modal-dialog {
    min-width: 60vw;
    max-width: 60vw;
    left: 20vw;
    background: transparent;
  }

  div.menu.modal-dialog div.modal-content {
    background: transparent;
  }

  div.menu.modal-dialog div.modal-body{
    min-width: 100%;
    max-width: 100%;
  }

  div.menu.modal-dialog div.modal-body div.menu {
    overflow: hidden;
    min-width: 100%;
    max-width: 100%;
    min-height: fit-content;
  }

  div.menu-toggle-container {
    max-width: fit-content;
    float: left;
  }

  div.menu-toggle-container button.menu-toggle {
    background: transparent;
    border: .5px solid rgb(0, 0, 0, .1);
  }

  div.menu-toggle-container button.menu-toggle img {
    max-width: 50px;
    float: left;
  }

  div.menu ul.menu-button-list li.menu-item {
    max-height: fit-content;
  }

  div.menu ul.menu-button-list li.menu-item div.button-filter {
    min-height: 100%;
    min-width: 99%;
  }

  div.menu ul.menu-button-list li.menu-item a.menu-button {
    text-align: center;
    font-size: 4.5vw;
  }

  div.menu ul.menu-button-list li.menu-item a.menu-button:hover {
    font-size: 4.5vw;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  div.menu.modal-dialog {
    min-width: 60vw;
    max-width: 60vw;
    left: 20vw;
    background: transparent;
  }

  div.menu.modal-dialog div.modal-content {
    background: transparent;
  }

  div.menu.modal-dialog div.modal-body{
    min-width: 100%;
    max-width: 100%;
  }

  div.menu.modal-dialog div.modal-body div.menu {
    overflow: hidden;
    min-width: 100%;
    max-width: 100%;
    min-height: fit-content;
  }

  div.menu-toggle-container {
    max-width: fit-content;
    float: left;
  }

  div.menu-toggle-container button.menu-toggle {
    background: transparent;
    border: .5px solid rgb(0, 0, 0, .1);
  }

  div.menu-toggle-container button.menu-toggle img {
    max-width: 50px;
    float: left;
  }

  div.menu ul.menu-button-list li.menu-item {
    max-height: fit-content;
  }

  div.menu ul.menu-button-list li.menu-item div.button-filter {
    min-height: 100%;
    min-width: 99%;
  }

  div.menu ul.menu-button-list li.menu-item a.menu-button {
    text-align: center;
    font-size: 3.25vw;
  }

  div.menu ul.menu-button-list li.menu-item a.menu-button:hover {
    font-size: 3.25vw;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  div.menu.modal-dialog {
    min-width: 60vw;
    max-width: 60vw;
    left: 20vw;
    background: transparent;
  }

  div.menu.modal-dialog div.modal-content {
    background: transparent;
  }

  div.menu.modal-dialog div.modal-body{
    min-width: 100%;
    max-width: 100%;
  }

  div.menu.modal-dialog div.modal-body div.menu {
    overflow: hidden;
    min-width: 100%;
    max-width: 100%;
    min-height: fit-content;
  }

  div.menu-toggle-container {
    max-width: fit-content;
    float: left;
  }

  div.menu-toggle-container button.menu-toggle {
    background: transparent;
    border: .5px solid rgb(0, 0, 0, .1);
  }

  div.menu-toggle-container button.menu-toggle img {
    max-width: 50px;
    float: left;
  }

  div.menu ul.menu-button-list li.menu-item {
    max-height: fit-content;
  }

  div.menu ul.menu-button-list li.menu-item div.button-filter {
    min-height: 100%;
    min-width: 99%;
  }

  div.menu ul.menu-button-list li.menu-item a.menu-button {
    text-align: center;
    font-size: 3vw;
  }

  div.menu ul.menu-button-list li.menu-item a.menu-button:hover {
    font-size: 3vw;
  }
}

@media (min-width: 1200px) {

  div.menu.modal-dialog {
    min-width: 60vw;
    max-width: 60vw;
    left: 20vw;
    background: transparent;
  }

  div.menu.modal-dialog div.modal-content {
    background: transparent;
  }

  div.menu.modal-dialog div.modal-body{
    min-width: 100%;
    max-width: 100%;
  }

  div.menu.modal-dialog div.modal-body div.menu {
    overflow: hidden;
    min-width: 100%;
    max-width: 100%;
    min-height: fit-content;
  }

  div.menu-toggle-container {
    max-width: fit-content;
    float: left;
  }

  div.menu-toggle-container button.menu-toggle {
    background: transparent;
    border: .5px solid rgb(0, 0, 0, .1);
  }

  div.menu-toggle-container button.menu-toggle img {
    max-width: 50px;
    float: left;
  }

  div.menu ul.menu-button-list li.menu-item {
    max-height: fit-content;
  }

  div.menu ul.menu-button-list li.menu-item div.button-filter {
    min-height: 100%;
    min-width: 99%;
  }

  div.menu ul.menu-button-list li.menu-item a.menu-button {
    text-align: center;
    font-size: 2.75vw;
  }

  div.menu ul.menu-button-list li.menu-item a.menu-button:hover {
    font-size: 2.75vw;
  }
}
