

@media (max-width: 575px) {
	div.language-button-container {
		min-width: 100%;
    display: flex;
    min-height: 60%;
    flex-direction: column;
	}

	div.language-button-container button.language-toggle-button {
		margin: .5vh 2.5% !important;
		max-width: 90% !important;
		font-size: 22px;
		letter-spacing: 2px;
		line-height: 22px;
	}
}

@media (min-width: 576px) and (max-width: 767px) {
	div.language-button-container {
		min-width: 55%;
		display: flex;
		min-height: 75px;
	}

	div.language-button-container button.language-toggle-button {
		margin: 1vh 2.5% !important;
		max-width: 45% !important;
		font-size: 4vw;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	div.language-button-container {
		min-width: 60%;
		display: flex;
		min-height: 75px;
	}

	div.language-button-container button.language-toggle-button {
		margin: 1vh 2.5% !important;
		max-width: 45% !important;
		font-size: 3vw;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	div.language-button-container {
		min-width: 70%;
    text-align: center;
    margin: 0 0 0 auto;
    max-width: 70%;
    width: 70%;
    height: 100%;
    min-height: 75px;
    display: block;
    max-height: 100%;
	}

	div.language-button-container button{
		background: #3f93b0;
		max-width: 45%;
    min-width: 45%;
    min-height: 50px;
    float: left;
		font-size: 28px;
    display: block;
    margin: 12.5px;
	}
}

@media (min-width: 1200px){
	div.language-button-container {
		min-width: 70%;
    text-align: center;
    margin: 0 0 0 auto;
    max-width: 70%;
    width: 70%;
    height: 100%;
    min-height: 75px;
    display: block;
    max-height: 100%;
	}

	div.language-button-container button{
		background: #3f93b0;
		max-width: 45%;
    min-width: 45%;
    min-height: 50px;
    float: left;
		font-size: 28px;
    display: block;
    margin: 12.5px;
	}
}
