.container {
  min-width: 100vw;
}

* {
  font-family: "Quicksand", sans-serif;
}

body {
  background: #bce5f2 !important;
  overflow-x: hidden;
}

div.toolbox {
  position: absolute;
  left: 80vw;
  min-width: 20vw;
  min-height: 10vh;
  background: yellow;
}

div.container {
	padding: 0;
}


div.container {
  min-height: fit-content;
}

@media  (max-width: 575px){
  div.main-content {
    padding-left: 40px;
    padding-right: 40px;
  }
  div.container {
    padding: 0;
    overflow: hidden;
  }

}
