.container {
  min-width: 100vw;
}

body {
  background: #bce5f2 !important;
}

div.toolbox {
  position: absolute;
  left: 80vw;
  min-width: 20vw;
  min-height: 10vh;
  background: yellow;
}


@media  (max-width: 575px){
  div.main-content {
    padding-left: 5px;
    padding-right: 5px;
  }
}
