div.help-toggle-container {
  padding: .5rem 1rem;
  display: flex;
}

div.help-toggle-container button.help-toggle {
  background: transparent;
  border-color: rgba(0, 0, 0, 0.1);
  padding: .25rem .75rem;
  min-height: 50px;
}

div.help-toggle-container button.help-toggle img {
  background: transparent;
  max-width: 30px;

}

div.modal-dialog.help {
  margin: 10vh 10vw;
  max-width: 80vw;
  min-height: 80vh;
}

div.modal-dialog.help div.modal-content {
  min-height: 80vh;
}

div.modal-dialog.help div.modal-content div.modal-header {
  min-height: 15vh;
  max-height: 15vh;
}

div.modal-dialog.help div.modal-content div.modal-header h5.modal-title {
  font-size: 4vw;
  margin: 0 auto;
}

div.modal-dialog.help div.modal-content div.modal-header button.close {
  margin: 0 ;
  position: absolute;
  left: 95%;
}

div.modal-dialog.help div.modal-content div.help.modal-body {
  min-height: 65vh;
}

div.modal-dialog.help div.modal-content div.help.modal-body div.help {
  float: left;
  max-width: 25%;
  min-height: 65vh;
}

div.modal-dialog.help div.modal-content div.help.modal-body div.help div.help-image-container {

}

div.modal-dialog.help div.modal-content div.help.modal-body div.help h3 {
  text-align: center;
  margin: 2.5vh 0 0 0;
}

div.modal-dialog.help div.modal-content div.help.modal-body div.help p {
  font-size: 1.25vw;
  line-height: 1.5vw;
  padding: 10px 20px;
  text-align: center;
  margin: 5vh 0 0 0;
}


@media (max-width: 420px) {

}

@media (min-width: 420px) and (max-width: 575px) {

}

@media (min-width: 576px) and (max-width: 767px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 1200px) {

}
