div.help-toggle-container {
  padding: .5rem 1rem;
  display: flex;
}

div.help-toggle-container button.help-toggle {
  background: transparent;
  border-color: rgba(0, 0, 0, 0.1);
  padding: .25rem .75rem;
  min-height: 50px;
}

div.help-toggle-container button.help-toggle:hover {
  background: grey;
}

div.help-toggle-container button.help-toggle img {
  background: transparent;
  max-width: 30px;

}

div.modal-dialog.help {
  margin: 10vh 10vw;
  max-width: 80vw;
  min-height: 80vh;
}

div.modal-dialog.help div.modal-content {
  min-height: 80vh;
}

div.modal-dialog.help div.modal-content div.modal-header {
  min-height: 10vh;
  max-height: 10vh;
}

div.modal-dialog.help div.modal-content div.modal-header h5.modal-title {
  font-size: 6vw;
  margin: 0 auto;
}

div.modal-dialog.help div.modal-content div.modal-header button.close {
    margin: 0;
    position: absolute;
    left: 90%;
    top: 0;
    padding: 0;
    font-weight: 300;
    line-height: 10vw;
    vertical-align: top;
}

div.modal-dialog.help div.modal-content div.help.modal-body {
  min-height: 50vh;
}

div.modal-dialog.help div.modal-content div.help.modal-body div.help {
  float: left;
  max-width: 100%;
  min-height: 50vh;
}

div.modal-dialog.help div.modal-content div.help.modal-body div.help div.help-image-container {

}

div.modal-dialog.help div.modal-content div.help.modal-body div.help h3 {
  text-align: center;
  margin: 2.5vh 0 0 0;
}

div.modal-dialog.help div.modal-content div.help.modal-body div.help p {
  font-size: 2.75vw;
  line-height: 3vw;
  padding: 10px 20px;
  text-align: center;
  margin: 5vh 0 0 0;
}


@media (max-width: 575px) {
  div.help-toggle-container {
    padding: .5rem;
    display: flex;
    min-width: fit-content;
    max-width: fit-content;
  }

  div.modal-dialog.help div.modal-content div.modal-header button.close {
    font-size: 7.5vw;
    padding: 2vh 0 0 0;
  }

  div.modal-dialog.help div.modal-content div.modal-header button.close span {
    max-height: fit-content;
    line-height: 3vh;
    vertical-align: top;
  }

  div.help-toggle-container button.help-toggle:hover {
    background: #3f93b0;
  }

  div.modal-dialog.help div.modal-content div.help.modal-body div.help {
    float: left;
    max-width: 100%;
    min-height: 55vh;
  }

  div.modal-dialog.help div.modal-content div.help.modal-body div.help h3 {
      text-align: center;
      margin: 2.5vh 0 0 0;
  }

  div.modal-dialog.help div.modal-content div.help.modal-body div.help p {
    font-size: 5vw;
    line-height: 5.25vw;
    padding: 10px 0;
    text-align: center;
    margin: 5vh 0 0 0;
  }

  div.modal-dialog.help div.modal-content div.modal-header {
    min-height: fit-content;
    max-height: fit-content;
  }

  div.modal-dialog.help div.modal-footer {
    padding: 0;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  div.help-toggle-container {
    padding: .5rem;
    display: flex;
		float: left;
    min-width: fit-content;
    max-width: fit-content;
  }

  div.modal-dialog.help div.modal-content div.modal-header button.close {
    font-size: 7.5vw;
    padding: 2vh 0 0 0;
  }

  div.modal-dialog.help div.modal-content div.modal-header button.close span {
    max-height: fit-content;
    line-height: 3vh;
    vertical-align: top;
  }

  div.help-toggle-container button.help-toggle:hover {
    background: #3f93b0;
  }

  div.modal-dialog.help div.modal-content div.help.modal-body div.help {
    float: left;
    max-width: 100%;
    min-height: 55vh;
  }

  div.modal-dialog.help div.modal-content div.help.modal-body div.help p {
    font-size: 4vw;
    line-height: 4.15vw;
    padding: 10px 20px;
    text-align: center;
    margin: 5vh 0 0 0;
  }

  div.modal-dialog.help div.modal-content div.help.modal-body div.help h3 {
      text-align: center;
      margin: 2.5vh 0 0 0;
  }

  div.modal-dialog.help div.modal-content div.modal-footer button.help-nav {
    font-size: 4vw;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  div.help-toggle-container {
    padding: .5rem;
    display: flex;
		float: left;
    min-width: fit-content;
    max-width: fit-content;
  }

  div.modal-dialog.help div.modal-content div.modal-header button.close {
    font-size: 7.5vw;
    padding: 2vh 0 0 0;
  }

  div.modal-dialog.help div.modal-content div.modal-header button.close span {
    max-height: fit-content;
    line-height: 3vh;
    vertical-align: top;
  }

  div.help-toggle-container button.help-toggle:hover {
    background: #3f93b0;
  }

  div.modal-dialog.help div.modal-content div.modal-footer button.help-nav {
    font-size: 3.75vw;
  }

  div.modal-dialog.help div.modal-content div.help.modal-body div.help p {
    font-size: 3.5vw;
    line-height: 4vw;
    padding: 10px 20px;
    text-align: center;
    margin: 5vh 0 0 0;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  div.modal-dialog.help div.modal-content div.modal-header {
    min-height: 12.5vh;
    max-height: 12.5vh;
  }

  div.help-toggle-container {
    padding: .5rem;
    display: flex;
    min-width: fit-content;
    max-width: fit-content;
  }

  div.modal-dialog.help div.modal-content div.modal-header button.close {
    font-size: 7.5vw;
    padding: 2vh 0 0 0;
  }

  div.modal-dialog.help div.modal-content div.modal-header button.close span {
    max-height: fit-content;
    line-height: 3vh;
    vertical-align: top;
  }

  div.help-toggle-container button.help-toggle:hover {
    background: #3f93b0;
  }

  div.modal-dialog.help div.modal-content div.modal-footer button.help-nav {
    font-size: 3.25vw;
  }

  div.modal-dialog.help div.modal-content div.help.modal-body div.help p {
    font-size: 2.75vw;
    line-height: 3vw;
    padding: 10px 20px;
    text-align: center;
    margin: 5vh 0 0 0;
  }
}

@media (min-width: 1200px) {
  div.help-toggle-container {
		display: flex;
		float: left;
    min-width: fit-content;
    max-width: fit-content;
		padding: .5rem;
  }

  div.modal-dialog.help div.modal-content div.modal-header button.close {
    font-size: 5vw;
    padding: 2vh 0 0 0;
  }

  div.modal-dialog.help div.modal-content div.modal-header button.close span {
    max-height: fit-content;
    line-height: 3vh;
    vertical-align: top;
  }

  div.help-toggle-container button.help-toggle:hover {
    background: #3f93b0;
  }

  div.modal-dialog.help div.modal-content div.modal-footer button.help-nav {
    font-size: 3vw;
  }

  div.modal-dialog.help div.modal-content div.help.modal-body div.help h3 {
    text-align: center;
    margin: 2.5vh 0 0 0;
    font-size: 2.5vw;
  }

  div.modal-dialog.help div.modal-content div.modal-header {
    min-height: 12.5vh;
    max-height: 12.5vh;
  }

  div.modal-dialog.help div.modal-content div.modal-header h5.modal-title {
    font-size: 3.75vw;
    margin: 0 auto;
  }
}
