div.title {
  color: white;
  border-bottom: .85px solid darkgrey;
  min-width: 100%;
  text-align: center;
  text-shadow: 2.25px 2px 3.5px black;
}

@media (max-width: 575px) {
  div.title {
    border-bottom: .85px solid darkgrey;
    color: white;
    font-size: 4.5vw;
    min-width: 100%;
    text-align: center;
    text-shadow: 2.25px 2px 3.5px black;
  }

}

@media (min-width: 576px) and (max-width: 767px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
  div.title {
    color: white;
    border-bottom: .85px solid darkgrey;
    min-width: 100%;
    text-align: center;
    font-size: 3.25vw;
    text-shadow: 2.25px 2px 3.5px black;
    padding: 2.5vh;
  }
}

@media (min-width: 1200px) {
  div.title {
    font-weight: 400;
    font-size: 7.5vh;
    letter-spacing: .1em;
    margin: 0 0 25px 0;
    padding: 25px 0 10px 0;
  }
}
