div.image {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 50vh;
}

@media (max-width: 575px) {
  div.carousel {
    display: flex;
    min-width: 90%;
    max-width: 90%;
    margin: 5vh auto;
    min-height: 40vh;
    max-height: 40vh;
    justify-content: center;
  }

  div.carousel  p.text {
    position: absolute;
    top: 100%;
    z-index: 105;
    font-size: 4vw;
    color: black;
    margin: 0 auto;
    min-width: fit-content;
    max-width: fit-content;
    text-shadow: none;
  }

  div.carousel img {
    max-width: 100%;
    max-height: 40vh;
    height: auto;
    margin: 0 auto;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  div.carousel {
		display: flex;
		flex-direction: column-reverse;
    margin: 0 auto;
		max-height: 60vh;
		max-width: 100%;
    min-height: 60vh;
		min-width: 100%;
    z-index: 1;
  }

  div.carousel img {
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    position: absolute;
    height: auto;
    margin: 0 auto;
    z-index: -1;
  }

  div.carousel p.text {
    align-self: flex-end;
    color: white;
    margin: 0 auto;
    line-height: 100%;
    padding: 0 0 1.5vh 0;
    vertical-align: middle;
    z-index: 2;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  div.carousel {
    margin: 5vh 2vw;
    min-height: 30vh;
    min-width: 100%;
    text-align: center;
  }

  div.carousel img.carousel-image {
    max-width: 100%;
    height: auto;
    min-height: 50vh;
    max-height: 50vh;
    margin: 0 auto;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  div.carousel {
    min-width: 80%;
    max-width: 80%;
    margin: 0 auto;
    min-height: 60vh;
    max-height: fit-content;
    display: flex;
		flex-direction: column;
  }

  div.carousel img.carousel-image {
    max-width: 100%;
    max-height: 60vh;
    height: auto;
    margin: 0 auto;
  }

	div.carousel p.text {
		text-align: center;
	}
}

@media (min-width: 1200px) {
  div.carousel {
    min-width: 100%;
    max-width: 100%;
    margin: 0 auto;
    min-height: 60vh;
    max-height: 60vh;
    display: flex;
    justify-content: center;
  }

  div.carousel img {
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    max-height: 60vh;
    min-width: 55%;
    position: absolute;
  }

  div.carousel p.text {
    position: absolute;
    top: 2.5%;
    color: white;
    font-size: 1.25vw;
  }
}
