div.contact-form {
	max-width: 40vw;
}

div.modal-dialog.contact-form {
	min-height: 60vh;
  margin: 10vh auto;
}

div.modal-dialog.contact-form div.modal-content {
  min-height: 60vh;
}

div.contact-toggle-container {
  float: left;
  max-width: fit-content;
  padding: .5rem;
  min-height: 50px;
}

button.contact-toggle {
  z-index: 102;
  justify-content: space-between;
}

button.contact-nav {
	font-size: 1.75vw;
}

button.contact-toggle {
  background: transparent;
  border-color: rgba(0, 0, 0, 0.1);
  padding: 0.425rem .75rem;
}

div.contact-form div.modal-header h5.modal-title {
  min-width: 100%;
  text-align: center;
  margin: 1vh 0 0 0;
}

div.contact-form div.modal-header h5.modal-title div {
  margin: 1vh 0 0 0;
}

#contactFormSubmitButton {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  min-width: 80%;
}

@media (max-width: 575px) {

  div.contact-form {
	  max-width: 90vw;
		padding: 5vh 0 0 0;
  }

	div.form-group {
		line-height: fit-content;
	}

  button.contact-toggle:hover {
    background: #3f93b0;
  }

  button.contact-toggle img {
    max-width: 32.5px;
    min-height: 35px;
    max-height: 35px;
  }

  button.contact-nav {
	font-size: 4vw;
  }

  div.contact-form div.modal-content div.contact-nav button.contact-nav:hover {
    background: #3f93b0 !important;
  }

	div.contact-form div.modal-header h5.modal-title {
		font-size: 20px;
		line-height: 22px;
		padding-bottom: 2px;
	}

  #contactFormSubmitButton {
    font-size: 3.25vw;
  }

	div.contact-form div.modal-content div.modal-body form div.form-group label {
		margin-bottom: 2px;
	}

	div.contact-form div.modal-content div.modal-body form div.form-group input {
		display: block;
		width: 100%;
		height: 32px;
		padding: 2px;
		font-size: 16px;
		font-weight: 400;
		line-height: 16px;
		color: #495057;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #ced4da;
		border-radius: 0.25rem;
		transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	}

	div.contact-form div.modal-content div.modal-header {
		padding: 5px 0;
	}

	div.contact-form div.modal-content div.modal-footer {
		padding: 4px 0;
	}
}

@media (min-width: 576px) and (max-width: 767px)  {
	div.contact-form {
		max-width: 85vw;
		padding: 2.5vh 0 0 0;
	}

  button.contact-toggle:hover {
    background: #3f93b0;
  }

  button.contact-toggle img {
    max-width: 32.5px;
    min-height: 35px;
    max-height: 35px;
  }

  div.contact-form div.modal-content div.contact-nav button.contact-nav:hover {
    background: #3f93b0 !important;
  }

  #contactFormSubmitButton {
    font-size: 3.25vw;
  }


}

@media (min-width: 768px) and (max-width: 991px) {
	div.contact-form {
		max-width: 80vw;
		padding: 2.5vh 0 0 0;
	}

  button.contact-toggle:hover {
    background: #3f93b0;
  }

  button.contact-toggle img {
    max-width: 32.5px;
    min-height: 35px;
    max-height: 35px;
  }

  div.contact-form div.modal-content div.contact-nav button.contact-nav:hover {
    background: #3f93b0 !important;
  }

  #contactFormSubmitButton {
    font-size: 3.25vw;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
	div.contact-form {
		max-width: 80vw;
		padding: 2.5vh 0 0 0;
	}

  button.contact-toggle:hover {
    background: #3f93b0;
  }

  button.contact-toggle img {
    max-width: 32.5px;
    min-height: 35px;
    max-height: 35px;
  }

  div.contact-form div.modal-content div.contact-nav button.contact-nav:hover {
    background: #3f93b0 !important;
  }

  #contactFormSubmitButton {
    font-size: 3.25vw;
  }
}

@media (min-width: 1200px) {
	div.contact-form {
		max-width: 70vw;
		padding: 2.5vh 0 0 0;
	}

  button.contact-toggle:hover {
    background: #3f93b0;
  }

  button.contact-toggle img {
    max-width: 32.5px;
    min-height: 35px;
    max-height: 35px;
  }

  #contactFormSubmitButton {
    font-size: 2.25vw;
    transition: .3s ease-in;
  }

  #contactFormSubmitButton:hover {
    background: #35768C;
  }

  div.contact-form div.modal-content div.modal-body div.form-group label {
    font-size: 1.5vw;
  }

  div.contact-form div.modal-content div.modal-body div.form-group input {
    font-size: 1.5vw;
  }

  div.contact-form div.modal-header h5.modal-title {
    min-width: 95%;
  }

  div.contact-form div.modal-content div.contact-nav {
      margin: 1vh 0 0 0;
  }

  div.contact-form div.modal-content div.contact-nav button.contact-nav:hover {
    background: #3f93b0 !important;
  }

}
