div.contact-form {

}

div.modal-dialog.contact-form {
  min-height: 60vh;
  margin: 15vh auto;
}

div.modal-dialog.contact-form div.modal-content {
  min-height: 60vh;
}

div.contact-toggle-container {
  float: left;
  max-width: fit-content;
  padding: .5rem 1rem;
  min-height: 50px;
}

button.contact-toggle {
  z-index: 102;
  justify-content: space-between;
}

button.contact-toggle img {
  max-width: 32.5px;
}

button.contact-toggle {
  background: transparent;
  border-color: rgba(0, 0, 0, 0.1);
  padding: 0.425rem .75rem;
}

div.contact-form div.modal-header h5.modal-title {
  min-width: 100%;
  text-align: center;
  margin: 1vh 0 0 0;
}

div.contact-form div.modal-header h5.modal-title div {
  margin: 1vh 0 0 0;
}

#contactFormSubmitButton {
  display: block;
  font-size: 1.25vw;
  margin: 0 auto;
  max-width: 80%;
  min-width: 80%;
}
