div.contact-form {

}

div.modal-dialog.contact-form {
  min-height: 60vh;
  margin: 15vh auto;
}

div.modal-dialog.contact-form div.modal-content {
  min-height: 60vh;
}

button.menu-toggle {
  position: fixed;
  left: 95%;
  top: 1.25%;
  z-index: 102;
}

button.menu-toggle img {
  max-width: 50px;
}
