div.banner {
  background-repeat: cover;
  background-size: cover;
  min-height: 45vh;
  padding: 0;
  z-index: -200;
}

div.banner h1 {
  color: white;
  z-index: 5500;
  font-size: 6vw;
  font-weight: 400;
  letter-spacing: .625vw;
  text-shadow: 3px 2px 5px black;
  border-bottom: 0;
  max-height: 6.25vw;
  line-height: 7.5vw;
  padding: 0;
  min-width: fit-content;
  max-width: fit-content;
  width: fit-content;
  margin: 0px auto 21px auto;
}

div.banner h2 {
  margin: 1.25vh auto 0 auto;
  letter-spacing: 2.5px;
  border-top: 3px solid white;
  font-weight: 100;
  color: white;
  padding: 0px 5vw;
  vertical-align: middle;
  text-align: center;
  font-size: 3.4vw;
  text-shadow: 3px 2px 5px black;
  max-width: fit-content;
}

div.banner .banner-text{
  z-index: 5000;
  min-height: 45vh;
  padding: 10vh 0 0 0;
}

@media (max-width: 575px) {
  div.banner {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 20vh;
    max-height: 20vh;
  }

  div.banner h1 {
    border-bottom: 0;
    color: white;
    font-size: 10vw;
    font-weight: 400;
    letter-spacing: .625vw;
    line-height: 7.5vw;
    margin: 2.5vh auto 21px auto;
    max-height: 6.25vw;
    max-width: fit-content;
    min-width: fit-content;
    padding: 0;
    text-shadow: 3px 2px 5px black;
    width: fit-content;
    z-index: 5500;
  }

  div.banner h2 {
    margin: 1.25vh auto 0 auto;
    letter-spacing: 2.5px;
    border-top: 3px solid white;
    font-size: 6.5vw;
    font-weight: 100;
    color: white;
    padding: 0px 5vw;
    vertical-align: middle;
    text-align: center;
    text-shadow: 3px 2px 5px black;
    max-width: fit-content;
  }

  div.banner div.banner-text {
    padding: 2vh 0 0 0;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  div.banner {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 20vh;
  }

  div.banner div.filter {
    min-height: 35vh;
  }

  div.banner h1 {
    border-bottom: 0;
    color: white;
    font-size: 10vw;
    font-weight: 400;
    letter-spacing: .625vw;
    line-height: 7.5vw;
    margin: 7.5vh auto 21px auto;
    max-height: 6.25vw;
    max-width: fit-content;
    min-width: fit-content;
    padding: 0;
    text-shadow: 3px 2px 5px black;
    width: fit-content;
    z-index: 5500;
  }

  div.banner h2 {
    margin: 1.25vh auto 0 auto;
    letter-spacing: 2.5px;
    border-top: 3px solid white;
    font-size: 6.5vw;
    font-weight: 100;
    color: white;
    padding: 0px 5vw;
    vertical-align: middle;
    text-align: center;
    text-shadow: 3px 2px 5px black;
    max-width: fit-content;
  }

  div.banner .banner-text {
    z-index: 5000;
    min-height: 35vh;
    padding: 5vh 0 0 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  div.banner {
    min-height: 25vh;
  }

  div.banner div.filter {
    min-height: 55vh;
  }

  div.banner .banner-text {
    z-index: 5000;
    min-height: 55vh;
    padding: 10vh 0 0 0;
  }

  div.banner h1 {
    border-bottom: 0;
    color: white;
    font-size: 9.5vw;
    font-weight: 400;
    letter-spacing: .625vw;
    line-height: 7.5vw;
    margin: 0px auto 21px auto;
    max-height: 6.25vw;
    max-width: fit-content;
    min-width: fit-content;
    padding: 0;
    text-shadow: 3px 2px 5px black;
    width: fit-content;
    z-index: 5500;
  }

  div.banner h2 {
    border-top: 3px solid white;
    color: white;
    font-size: 7.5vh;
    font-weight: 100;
    letter-spacing: 2.5px;
    margin: 1.25vh auto 0 auto;
    max-width: fit-content;
    padding: 0px 5vw;
    text-align: center;
    text-shadow: 3px 2px 5px black;
    vertical-align: middle;
  }


}

@media (min-width: 992px) and (max-width: 1199px) {
  div.banner h1 {
    color: white;
    z-index: 5500;
    font-size: 10vw;
    font-weight: 400;
    letter-spacing: .625vw;
    text-shadow: 3px 2px 5px black;
    border-bottom: 0;
    max-height: 6.25vw;
    line-height: 7.5vw;
    padding: 0;
    min-width: fit-content;
    max-width: fit-content;
    width: fit-content;
    margin: auto;
    min-height: fit-content;
  }
  div.banner h2 {
    margin: 2.25vh auto 0 auto;
    letter-spacing: 2.5px;
    border-top: 3px solid white;
    font-weight: 100;
    color: white;
    padding: 0px 4vw;
    text-align: center;
    font-size: 5.25vw;
    text-shadow: 3px 2px 5px black;
    max-width: 50vw;
  }

  div.banner div.filter {
    min-height: 45vh;
  }
}

@media (min-width: 1200px) {
  div.banner div.filter {
    min-height: 45vh;
  }
}
