div.banner {
  background-repeat: cover;
  background-size: cover;
  min-height: 55vh;
  padding: 0;
  z-index: -200;
}

div.banner h1 {
  color: white;
  margin: 5vh 0 0 0;
  z-index: 5500;
  font-size: 6vw;
  font-weight: 400;
  letter-spacing: .625vw;
  text-shadow: 3px 2px 5px black;
  border-bottom: 1px solid white;
  max-height: 6.25vw;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 10px auto;
  line-height: 1.25;

}

div.banner h2 {
  color: white;
  margin: 1.25vh 0 0 0;
  z-index: 5000;
  letter-spacing: 2.5px;
  font-size: 50px;
  font-weight: 100;
  color: white;
  padding: 0px 0;
  vertical-align: middle;
  text-align: center;
  font-size: 3.4vw;
  text-shadow: 3px 2px 5px black;
}

div.banner .banner-text{
  z-index: 5000;
}
