@media (max-width: 575px) {

  div.billboard, div.billboard.linked.with-image {
    background: #8ECADE;
    border: 10px solid ghostwhite;
    border-radius: 1.5%;
    box-shadow: 3px 3px 7.5px -1px darkslategrey;
    color: white;
    margin: 4vh 0vw;
    max-width: 100%;
    max-height: fit-content;
    min-height: fit-content;
    min-width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-flow: column;
    overflow: hidden;
    position: relative;
    text-align: center;
    flex-wrap: wrap;
    flex-basis: unset;
  }

  div.billboard a.button {
    background: #35768C;
    border: 2px outset white;
    box-shadow: 1px 2px 3px 0px black;
    color: white;
    display: block;
    font-size: 6.5vw;
    font-weight: 300;
    margin: 15px auto;
    max-width: fit-content;
    min-width: 100%;
    padding: 5px 25px 0 25px;
    position: sticky;
    text-align: center;
    text-shadow: none;
    transition: .25s ease-in;
    top: 85%;
    min-height: 12.5vw;
  }

  div.billboard a.button:hover {
    border: 2px inset white;
    box-shadow: 1px 2px 8px 0px silver;
    letter-spacing: 1.25px;
    text-decoration: none;
  }

  div.billboard div.contents {
    min-height: 100%;
    min-width: fit-content;
    display: inline-flex;
  }

  div.billboard div.filter {
    background: linear-gradient(0deg,black, darkslategray 20%, black 90%);
    margin: 0;
    min-height: 100%;
    position: absolute;
    min-width: 100%;
    opacity: .7;
    z-index: 101;
  }

  div.billboard p.flavor-text{
    font-size: 4.75vw;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 3.5vh;
    color: white;
    padding: 0 15px;
    text-shadow: none;
  }

	div.billboard p.title {
		font-size: 4vh;
		color: white;
		text-shadow: none;
		letter-spacing: 1.5px;
		margin: 0;
	}

  div.billboard div.flavor-text-container {
    top: 10%;
    padding: 0 2vw;
  }

  div.billboard div.image-container {
    max-width: 100%;
  }

  div.billboard div.image-col {
    min-height: 50vh;
  }

  div.billboard div.image-col div.image-container {
    margin: auto;
    padding: 0vh 0;
    min-height: 50vh;
  }

  div.billboard div.image-col div.image-container img.image {
    max-width: 100%;
    min-width: 100%;
    min-height: 60vh;
  }

  div.billboard p.subtitle {
    font-size: 3vh;
    color: white;
    text-shadow: none;
    letter-spacing: 1px;
    margin: 0 0 .5vh 0;
    padding: 10px 20px;
  }

  div.billboard.linked.with-image p.subtitle {
    font-size: 5vw;
    color: white;
    text-shadow: none;
    letter-spacing: 1px;
    margin: 0 0 .5vh 0;
    padding: 10px 20px;
    line-height: 5.25vw;
  }

  div.billboard div.text-container {
		display: flex;
		flex-direction: column;
  }

  div.billboard.linked.with-image div.text-container{
    z-index: 102;
    top: 0;
    padding: 1vh 1vw;
  }

  div.billboard.map div.left-col  div.wrapper div.googleMap {
    min-height: 40vh;
    min-width: 100%;
    max-width: 100%;
    margin: 1vh 0;
    float: left;
    z-index: 1250;
  }

  div.billboard.map div.right-col {
    z-index: 102;
  }

  div.billboard.map div.right-col h5 {
    font-size: 4.5vw;
    color: white;
  }

  div.billboard.map div.right-col p {
    font-size: 3vw;
    color: white;
  }

  /* BillboardTwoColumn */

  div.billboard.two-column {
    flex-direction: column;
    min-height: 90vh;
    padding: 0;
  }

  div.billboard.two-column h1 {
    font-size: 2.5vw;
  }

  div.billboard.two-column ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    text-shadow: none;
  }

  div.billboard.two-column div.colOne{
    min-height: 100%;
  }

  div.billboard.two-column div.colOne h1{
    color: black;
    font-family:  "Lato", sans-serif;
    font-size: 5vw;
    letter-spacing: 1.15px;
    line-height: 100%;
    margin: 2.5% 0 0 0;
    padding: 0 0 20px 0;
    text-shadow: none;
  }

  div.billboard.two-column div.colOne ul{
    margin: 0;
    padding: 0;
  }

  div.billboard.two-column div.colOne ul li{
    border-bottom: 1px solid white;
    color: black;
    text-shadow: none;
    display: flex;
    flex-direction: column-reverse;
    font-size: 4.25vw;
    line-height: 4.5vw;
    margin: 0 auto;
    max-width: 100%;
    min-width: 100%;
    padding: 20px 0;
    text-align: center;
  }

  div.billboard.two-column div.colTwo{

  }

  div.billboard.two-column div.colTwo h1{
    color: black;
    font-family:  "Lato", sans-serif;
    font-size: 5vw;
    letter-spacing: 1.15px;
    line-height: 100%;
    margin: 7.5% 0 0 0;
    text-shadow: none;
    padding: 0 0 10px 0;
  }

  div.billboard.two-column div.colTwo ul{
    min-height: 80%;
    margin: 1.25% 0;
    padding: 0;
  }

  div.billboard.two-column div.colTwo ul li{
    border-bottom: 1px solid white;
    color: black;
    display: flex;
    flex-direction: column-reverse;
    font-size: 4.25vw;
    line-height: 4.5vw;
    margin: 0 auto;
    max-width: 100%;
    min-width: 100%;
    padding: 20px 0;
    text-align: center;
  }

  /* ****************** */

	div.room.container div.billboard.with-image div.contents {
		flex-direction: column;
	}

	div.room.container div.billboard.with-image div.filter {
		opacity: .4;
	}

	div.room.container div.billboard.with-image div.image-col {
		position: relative;
		z-index: 102;
	}

	div.room.container div.billboard.with-image div.image-col div.image-container img.image{
		min-height: 40vh;
	}


  div.billboard.with-image div.image-col {
    min-height: 100%;
    position: absolute;
    display: flex;
  }

  div.billboard.with-image div.image-col div.image-container {
    margin: auto;
    padding: 0vh 0;
    display: contents;
    min-height: 100%;
  }

  div.billboard.with-image div.contents {
    display: flex;
    flex-direction: column-reverse;
  }

  div.billboard.with-image div.text-container {
    position: inherit;
  }


}
