@media (min-width: 576px) and (max-width: 767px) {
	div.billboard {
		background: #8ECADE;
		border: 10px solid ghostwhite;
		border-radius: 1.5%;
		box-shadow: 3px 3px 7.5px -1px darkslategrey;
		color: black;
		margin: 4vh 0;
		max-width: 100%;
		max-height: fit-content;
		min-height: 90vh;
		min-width: 100%;
		padding: 0;
		position: relative;
		text-align: center;
		justify-content: center;
	}

	div.billboard div.contents {
		min-height: 100%;
		min-width: 100%;
		display: flex;
		justify-content: center;
	}

  div.billboard a.button {
		background: #35768C;
		border: 2px outset white;
		box-shadow: 1px 2px 3px 0px black;
		color: black;
		display: block;
		font-size: 2.1vw;
		font-weight: 300;
		margin: 30px auto 20px auto;
		max-width: fit-content;
		min-width: 100%;
		padding: 5px 25px;
		position: sticky;
		text-align: center;
		text-shadow: none;
		transition: .25s ease-in;
		top: 85%;
  }

	div.billboard a.button:hover {
		border: 2px inset white;
		box-shadow: 1px 2px 8px 0px silver;
		letter-spacing: 1.25px;
		text-decoration: none;
	}

  div.billboard div.filter {
    background: linear-gradient(0deg,black, darkslategray 20%, black 90%);
    margin: 0;
    min-height: 100%;
    position: absolute;
    padding: 0 3.5vw;
    min-width: 100%;
    opacity: .6;
    z-index: 101;
  }

	div.billboard p.title {
		font-size: 4vh;
		color: white;
		text-shadow: none;
		letter-spacing: 1.5px;
		margin: 0;
	}

  div.billboard p.subtitle {
    font-size: 4vh;
    color: white;
    text-shadow: none;
    letter-spacing: 1px;
  }

  div.billboard div.image-container {
    max-width: 100%;
  }

  div.billboard div.image-col div.image-container {
		margin: auto;
    padding: 0;
    justify-content: center;
    display: flex;
    min-height: 100%;
    min-width: 100%;
    max-height: fit-content;
  }

  div.billboard div.image-container img {
    max-width: 100%;
  }

  div.billboard div.text-container {
    color: white;
    z-index: 102;
  }

	div.billboard a.button {
		background: #35768C;
		border: 2px outset white;
		box-shadow: 1px 2px 3px 0px black;
		color: white;
		display: block;
		font-size: 4vw;
		font-weight: 300;
		margin: 30px auto 20px auto;
		max-width: fit-content;
		min-width: 100%;
		padding: 5px 25px;
		position: sticky;
		text-align: center;
		text-shadow: none;
		transition: .25s ease-in;
		top: 90%;
	}

  div.billboard p.flavor-text{
		font-size: 3.5vw;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 3.65vw;
    color: white;
    text-shadow: none;
  }

	div.billboard.map div.left-col  div.wrapper {
		min-height: 100%;
		min-width: 100%;
		display: flex;
	}

  div.billboard.map div.left-col  div.wrapper div.googleMap {
    min-height: 40vh;
    max-width: 100%;
    margin: 1vh 0 2vh 0;
    float: left;
    z-index: 1250;
  }

	div.billboard.map {
		color: white;
	}

	div.billboard.map div.right-col {
		z-index: 102;
	}

	div.billboard.map div.right-col h5 {
    font-size: 3vw;
  }

  div.billboard.map div.right-col p {
    font-size: 2.75vw;
  }

	div.room.container div.billboard.with-image div.contents {
		flex-direction: column;
	}

	div.room.container div.billboard.with-image div.filter {
		opacity: .4;
		z-index: 103;
	}

	div.room.container div.billboard.with-image div.image-col {
		position: absolute;
    z-index: 104;
    max-height: 100%;
	}

	div.room.container div.billboard.with-image div.image-col div.image-container img.image{
		min-height: 0vh;
		max-height: 50%;
		display: block;
	}

	div.room.container div.billboard.with-image div.contents div.text-container {
		position: relative;
	}

	div.room.container div.billboard.with-image div.contents div.text-container div.flavor-text-container p.flavor-text{
		font-size: 4vw;
	}

	div.spa.container p.flavor-text{
		font-size: 4vw;
		line-height: 4.25vw;
	}

}
