@media (min-width: 768px) and (max-width: 991px) {

  div.rooms-page.container div.billboard{
    min-height: 65vh;
  }

  div.billboard div.text-container {

  }

  div.rooms-page.container div.billboard div.filter {
  }

  div.billboard a.button {
    background: #35768C;
    border: 2px outset white;
    box-shadow: 1px 2px 3px 0px black;
    color: white;
    display: block;
    font-size: 3.1vw;
    font-weight: 300;
    margin: 30px auto 20px auto;
    max-width: fit-content;
    min-width: 100%;
    padding: 5px 25px;
    position: sticky;
    text-align: center;
    text-shadow: none;
    transition: .25s ease-in;
    top: 90%;
  }
  div.billboard a.button:hover {
    border: 2px outset white;
    box-shadow: 1px 2px 3px 0px black;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 3.1vw;
  }

  div.billboard div.filter {
    background: linear-gradient(0deg,black, darkslategray 10%, black 95%);
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    opacity: .6;
    position: absolute;
    z-index: 101;
  }

  div.billboard.with-image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  div.billboard div.image-container {
    max-width: 100%;
  }

  div.billboard p.subtitle {
    color: white;
    font-size: 5vh;
    letter-spacing: 1px;
    margin: 2.5vh 0 0 0;
    line-height: 5vh;
    text-shadow: none;
  }

  div.billboard.map {
    z-index: -2;
  }


  div.billboard.map div.left-col  div.wrapper div.googleMap {
    min-height: 40vh;
    min-width: 100%;
    max-width: 100%;
    margin: 1vh 0 2vh 0;
    float: left;
    z-index: 1250;
  }

  div.billboard p.flavor-text{
    font-size: 4.25vh;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 4.5vh;
    color: white;
    padding: 3.5vh 0.5vw 2.5vh 0.5vw;
    text-shadow: none;
  }

  div.billboard.map div.filter {
    z-index: -1;
  }


}
