

@media (max-width: 420px) {

}

@media  (max-width: 575px) {
  div.billboard {
    background: #8ECADE;
    border: 10px solid ghostwhite;
    border-radius: 1.5%;
    box-shadow: 3px 3px 7.5px -1px darkslategrey;
    color: black;
    margin: 4vh 0vw;
    max-width: 100%;
    max-height: fit-content;
    min-height: fit-content;
    min-width: 100%;
    padding: 0;
    position: relative;
    text-align: center;
  }


  div.billboard div.billboardImage {
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    margin: 0 auto;
    border: 2px solid white;
    background-position: right;
  }



  div.billboard div.filter {
    background: linear-gradient(0deg,black, darkslategray 20%, black 90%);
    margin: 0;
    min-height: 100%;
    position: absolute;
    min-width: 100%;
    opacity: .65;
    z-index: 101;
  }


  div.billboard div.image-col {
    min-height: 50vh;
    padding: 0 0 0 0;
    text-align: center;
    z-index: 100;
  }

  div.billboard div.image-col, div.billboard div.text-container {
    padding: 0;
    overflow: hidden;
  }


  div.billboard div.image-col div.image-container {
    margin: auto;
    padding: 0vh 0;
  }




  div.billboard div.text-container {
    border-top: none;
    border-bottom: none;
    min-height: 100%;
    padding: 10px 3.5vw 20px 3.5vw;
    z-index: 101;
  }

  div.billboard p.title {
    font-size: 4vh;
    color: white;
    text-shadow: -2px 1px 3px black;
    letter-spacing: 1.5px;
    margin: 0;
  }

  div.billboard.linked.no-image {

  }

  div.billboard.linked.no-image div.filter{
    z-index: 100;
  }


  div.billboard.map {
    min-width: 100%;
    z-index: 101;
  }

}

@media (min-width: 576px) and (max-width: 767px) {
  div.billboard {
    background: #8ECADE;
    border: 10px solid ghostwhite;
    border-radius: 1.5%;
    box-shadow: 3px 3px 7.5px -1px darkslategrey;
    color: black;
    margin: 4vh 1vw;
    max-width: 100%;
    max-height: fit-content;
    min-height: fit-content;
    min-width: 100%;
    padding: 0;
    position: relative;
    text-align: center;
  }

  div.billboard a.button {
    background: #35768C;
    border: 2px outset white;
    box-shadow: 1px 2px 3px 0px black;
    color: white;
    display: block;
    font-size: 2.1vw;
    font-weight: 300;
    margin: 30px auto 20px auto;
    max-width: fit-content;
    min-width: 100%;
    padding: 5px 25px;
    position: sticky;
    text-align: center;
    text-shadow: 1px 2px black;
    transition: .25s ease-in;
    top: 85%;
  }

  div.billboard a.button:hover {
    border: 2px inset white;
    box-shadow: 1px 2px 8px 0px silver;
    letter-spacing: 1.25px;
    text-decoration: none;
  }

  div.billboard div.billboardImage {
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    margin: 0 auto;
    border: 2px solid white;
    background-position: right;
  }

  div.billboard div.contents {
    min-height: 100%;
    min-width: fit-content;
    display: contents;
  }



  div.billboard div.flavor-text-container {
    position: sticky;
    top: 10%;
  }



  div.billboard div.image-col {
    min-height: 35vh;
    padding: 0 0 0 0;
    text-align: center;
    z-index: 100;
  }

  div.billboard div.image-col, div.billboard div.text-container {
    padding: 0;
    overflow: hidden;
  }


  div.billboard div.image-col div.image-container {
    margin: auto;
    padding: 0vh 0;
  }

  div.billboard div.image-col div.image-container img.image {
    max-width: 100%;
    min-width: 100%;
  }

  div.billboard p.subtitle {
    font-size: 3vh;
    color: white;
    text-shadow: -2px 1px 3px black;
    letter-spacing: 1px;
  }

  div.billboard div.text-container {
    border-top: none;
    border-bottom: none;
    min-height: 100%;
    padding: 10px 3.5vw 20px 3.5vw;
    z-index: 101;
  }

  div.billboard p.title {
    font-size: 4vh;
    color: white;
    text-shadow: -2px 1px 3px black;
    letter-spacing: 1.5px;
    margin: 0;
  }

  div.billboard.linked.no-image {

  }

  div.billboard.linked.no-image div.filter{
    z-index: 100;
  }


  div.billboard.map {
    min-width: 100%;
    z-index: 101;
  }

  div.billboard.map div.left-col  div.wrapper div.googleMap {
    min-height: 40vh;
    min-width: 100%;
    max-width: 100%;
    margin: 1vh 0 2vh 0;
    float: left;
    z-index: 1250;
  }

  div.billboard.map div.right-col h5 {
    font-size: 2.5vw;
  }

  div.billboard.map div.right-col p {
    font-size: 2vw;
  }


  div.billboard.linked.with-image div.text-container, div.billboard.with-image div.text-container {
    position: absolute;
    z-index: 102;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  div.billboard {
    background: #8ECADE;
    border: 10px solid ghostwhite;
    border-radius: 1.5%;
    box-shadow: 3px 3px 7.5px -1px darkslategrey;
    color: black;
    margin: 4vh 1vw;
    max-width: 100%;
    max-height: fit-content;
    min-height: fit-content;
    min-width: 100%;
    padding: 0;
    position: relative;
    text-align: center;
  }





  div.billboard div.billboardImage {
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    margin: 0 auto;
    border: 2px solid white;
    background-position: right;
  }

  div.billboard div.contents {
    min-height: 100%;
    min-width: fit-content;
    display: contents;
  }


  div.billboard div.flavor-text-container {
    position: sticky;
    top: 10%;
  }

  div.billboard div.image-col {
    min-height: 35vh;
    padding: 0 0 0 0;
    text-align: center;
    z-index: 100;
  }

  div.billboard div.image-col, div.billboard div.text-container {
    padding: 0;
    overflow: hidden;
  }


  div.billboard div.image-col div.image-container {
    margin: auto;
    padding: 0vh 0;
  }

  div.billboard div.image-col div.image-container img.image {
    max-width: 100%;
    min-width: 100%;
  }

  div.billboard div.text-container {
    border-top: none;
    border-bottom: none;
    min-height: 100%;
    padding: 10px 3.5vw 20px 3.5vw;
    z-index: 101;
  }

  div.billboard p.title {
    font-size: 4vh;
    color: white;
    text-shadow: -2px 1px 3px black;
    letter-spacing: 1.5px;
    margin: 0;
  }

  div.billboard.linked.no-image {

  }

  div.billboard.linked.no-image div.filter{
    z-index: 100;
  }


  div.billboard.map {
    min-width: 100%;
    z-index: 101;
  }

  div.billboard.map div.left-col  div.wrapper div.googleMap {
    min-height: 40vh;
    min-width: 100%;
    max-width: 100%;
    margin: 1vh 0 2vh 0;
    float: left;
    z-index: 1250;
  }

  div.billboard.map div.right-col h5 {
    font-size: 2.5vw;
  }

  div.billboard.map div.right-col p {
    font-size: 2vw;
  }


  div.billboard.linked.with-image div.text-container, div.billboard.with-image div.text-container {
    position: absolute;
    z-index: 102;
  }

}

@media (min-width: 992px) and (max-width: 1199px) {
  div.billboard {
    background: #8ECADE;
    border: 10px solid ghostwhite;
    border-radius: 1.5%;
    box-shadow: 3px 3px 7.5px -1px darkslategrey;
    color: black;
    margin: 4vh 1vw;
    max-width: 100%;
    max-height: fit-content;
    min-height: fit-content;
    min-width: 100%;
    padding: 0;
    position: relative;
    text-align: center;
  }

  div.billboard a.button {
    background: #35768C;
    border: 2px outset white;
    box-shadow: 1px 2px 3px 0px black;
    color: white;
    display: block;
    font-size: 2.1vw;
    font-weight: 300;
    margin: 30px auto 20px auto;
    max-width: fit-content;
    min-width: 100%;
    padding: 5px 25px;
    position: sticky;
    text-align: center;
    text-shadow: 1px 2px black;
    transition: .25s ease-in;
    top: 85%;
  }

  div.billboard a.button:hover {
    border: 2px inset white;
    box-shadow: 1px 2px 8px 0px silver;
    letter-spacing: 1.25px;
    text-decoration: none;
  }

  div.billboard div.billboardImage {
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    margin: 0 auto;
    border: 2px solid white;
    background-position: right;
  }

  div.billboard div.contents {
    min-height: 100%;
    min-width: fit-content;
    display: contents;
  }

  div.billboard div.filter {
    background: linear-gradient(0deg,black, darkslategray 20%, black 90%);
    margin: 0;
    min-height: 100%;
    position: absolute;
    min-width: 100%;
    opacity: .35;
    z-index: 101;
  }

  div.billboard div.flavor-text-container {
    position: sticky;
    top: 10%;
  }

  div.billboard p.flavor-text{
    font-size: 3.15vh;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 3.5vh;
    color: white;
    text-shadow: -1px 0.5px 2.5px black;
  }

  div.billboard div.image-col {
    min-height: 35vh;
    padding: 0 0 0 0;
    text-align: center;
    z-index: 100;
  }

  div.billboard div.image-col, div.billboard div.text-container {
    padding: 0;
    overflow: hidden;
  }


  div.billboard div.image-col div.image-container {
    margin: auto;
    padding: 0vh 0;
  }

  div.billboard div.image-col div.image-container img.image {
    max-width: 100%;
    min-width: 100%;
  }

  div.billboard p.subtitle {
    font-size: 3vh;
    color: white;
    text-shadow: -2px 1px 3px black;
    letter-spacing: 1px;
  }

  div.billboard div.text-container {
    border-top: none;
    border-bottom: none;
    min-height: 100%;
    padding: 10px 3.5vw 20px 3.5vw;
    z-index: 101;
  }

  div.billboard p.title {
    font-size: 4vh;
    color: white;
    text-shadow: -2px 1px 3px black;
    letter-spacing: 1.5px;
    margin: 0;
  }

  div.billboard.linked.no-image {

  }

  div.billboard.linked.no-image div.filter{
    z-index: 100;
  }


  div.billboard.map {
    min-width: 100%;
    z-index: 101;
  }

  div.billboard.map div.left-col  div.wrapper div.googleMap {
    min-height: 40vh;
    min-width: 100%;
    max-width: 100%;
    margin: 1vh 0 2vh 0;
    float: left;
    z-index: 1250;
  }

  div.billboard.map div.right-col h5 {
    font-size: 2.5vw;
  }

  div.billboard.map div.right-col p {
    font-size: 2vw;
  }


  div.billboard.linked.with-image div.text-container, div.billboard.with-image div.text-container {
    position: absolute;
    z-index: 102;
  }



}

@media (min-width: 1200px) {
  div.the-nayar-course-page.container div.billboard.bullets div.flavor-text-container ul {
    margin: 0;
  }

  div.the-nayar-course-page.container div.billboard.bullets div.flavor-text-container ul li {
    background: transparent;
    border: none;
    color: white;
    display: list-item;
    float: left;
    font-size: 1.5vw;
    line-height: 1.75vw;
    list-style-type: circle;
    margin: 0 1%;
    max-height: fit-content;
    max-width: 30%;
    min-height: fit-content;
    min-width: 30%;
    padding: 1.25% 0 0 1%;
    text-align: left;
    vertical-align: bottom;
  }

  div.the-nayar-course-page.container div.billboard div.text-container {
    border-top: 2px solid white;
    border-bottom: none;
    margin: 2vh auto 0 auto;
    min-height: 46vh;
    padding: 2vh 0 0 20px;
    text-align: right;
    z-index: 100;
  }

  div.the-nayar-course-page.container div.billboard p.subtitle {
    color: white;
    font-size: 3vh;
    letter-spacing: 1px;
    margin: 0;
    text-align: center;
    text-shadow: -2px 1px 3px black;
  }

  div.billboard {
    background: #8ECADE;
    border: 10px solid ghostwhite;
    border-radius: 1.5%;
    box-shadow: 3px 3px 7.5px -1px darkslategrey;
    color: black;
    margin: 4vh 1vw;
    max-width: 100%;
    max-height: fit-content;
    min-height: fit-content;
    min-width: 100%;
    padding: 1.5% 0 0 0;
    position: relative;
    text-align: center;
  }

  div.billboard div.contents {
    min-height: 100%;
    min-width: fit-content;
    display: contents;
  }

  div.billboard div.filter {
    background: linear-gradient(135deg, slategray 20%, black 90%);
    margin: -1.5% 0;
    min-height: 100%;
    position: absolute;
    min-width: 100%;
    opacity: .35;
  }

  div.billboard div.billboardImage {
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    margin: 0 auto;
    border: 2px solid white;
    background-position: right;
  }

  div.billboard div.image-col, div.billboard div.text-container {
    padding: 0;
    overflow: hidden;
  }

  div.billboard div.image-col {
    min-height: 35vh;
    padding: 0 0 0 0;
    text-align: center;
    z-index: 100;
  }

  div.billboard div.image-col div.image-container{
    display: flex;
    min-height: 100%;
    justify-content: center;
  }

  div.billboard div.image-col div.image-container img.image {
    max-width: 100%;
    height: auto;
    margin: auto 5%;
    width: 90%;
    display: inline-flex;
  }

  div.billboard.bullets {

  }

  div.billboard.bullets div.text-container {
    padding: 10px 0 40px 20px;
  }

  div.billboard.bullets p.title{
    text-align: center;
  }

  div.billboard.bullets div.flavor-text-container ul{
    list-style: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  div.billboard.bullets div.flavor-text-container ul li{
    background: silver;
    border: 5px solid white;
    color: white;
    float: left;
    font-size: 1.5vw;
    line-height: 2vw;
    margin: 1%;
    min-height: 140px;
    max-width: 30%;
    min-width: 30%;
    padding: 1.25% 1% 1.5% 1%;
    vertical-align: bottom;
    display: inline-flex;
  }

  div.billboard.bullets div.flavor-text-container ul li p {
    height: fit-content;
    margin: auto;
  }

  div.billboard.map div.left-col div.map-container-row > div {
    min-width: 100%;
    float: left;
  }

  div.billboard.map div.left-col  div.wrapper div.googleMap {
    min-height: 40vh;
    min-width: 100%;
    max-width: 100%;
    margin: 0 0 2vh 0;
    float: left;
    z-index: 1250;
    border: 15px ridge white;
  }

  div.billboard.map div.right-col {

  }

  div.billboard.map div.right-col h5 {
    color: white;
    font-size: 2.5vw;
    font-weight: 300;
    font-family: "Open Sans";
    margin: 2vh 0 0 0;
    z-index: 1;
  }

  div.billboard.map div.right-col p {
    color: white;
    font-size: 1.25vw;
    min-height: fit-content;
    padding: 2.5vh 1.05vw;
    z-index: 1;
  }

  div.billboard.map {
    z-index: -2;
  }

  div.billboard.map div.filter {
    z-index: -1;
  }

  div.billboard.no-image {
    padding: 2.5% 0 5% 0;
  }

  div.billboard.no-image div.filter {
    margin: -2.5% 0;
  }

  div.billboard.no-image div.text-container{
    text-align: center;
  }

  div.billboard div.text-container {
    border-top: 2px solid white;
    border-bottom: none;
    min-height: 25%;
    padding: 10px 0 0 20px;
    text-align: right;
    z-index: 100;
  }

  div.billboard p.title {
    font-size: 4vh;
    color: white;
    text-shadow: -2px 1px 3px black;
    letter-spacing: 1.5px;
    margin: 0 0 0 auto;
    max-width: fit-content;
  }

  div.billboard p.subtitle {
    font-size: 3vh;
    color: white;
    text-shadow: -2px 1px 3px black;
    letter-spacing: 1px;
    text-align: center;
    margin-right: 0;
    margin-left: auto;
    max-width: fit-content;
  }

  div.billboard div.row.top-row {
      color: red;
  }

  div.billboard p.flavor-text{
    font-size: 3.75vh;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 5.15vh;
    color: white;
    text-shadow: -1px 0.5px 2.5px black;
  }

  div.billboard a.button {
    border: 2px outset white;
    box-shadow: 1px 2px 3px 0px black;
    color: white;
    display: block;
    font-size: 2.1vw;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 30px auto 20px auto;
    background: #61A7BE;
    max-width: 50vw;
    padding: 5px 25px;
    text-align: center;
    text-shadow: 1px 2px black;
    transition: .25s ease-in;
    position: sticky;
    top: 80%;
  }

  div.billboard a.button:hover {
    border: 2px inset white;
    box-shadow: 1px 2px 8px 0px silver;
    letter-spacing: 1.25px;
    text-decoration: none;
  }

  /* BillboardTextOverlay */

  div.billboard.image-background {

  }

  div.billboard.image-background div.image{

  }

  div.billboard.image-background div.text-container {

  }

  div.billboard.image-background div.text-container p {

  }

  div.billboard.image-background div.text-container p.title {

  }

  div.billboard.image-background div.text-container p.subtitle {

  }

  div.billboard.image-background div.text-container p.text {

  }

  div.billboard.no-image {

  }

  /* ****************** */
}
