@media (min-width: 576px) and (max-width: 767px) {
  div.billboard div.image-container {
    max-width: 100%;
  }

  div.billboard div.image-container img {
    max-width: 100%;
  }

  div.billboard div.text-container {
    color: white;
    position: absolute;
    z-index: 102;
  }

  div.billboard.map div.left-col  div.wrapper div.googleMap {
    min-height: 40vh;
    max-width: 100%;
    margin: 1vh 0 2vh 0;
    float: left;
    z-index: 1250;
  }
}
